html,body {
    height: 100px;
    width: 100px;
    margin:0;
    padding:0;
    box-sizing: boder-box;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.wrapper{
    margin: 120px;
    max-width: 400px;
    width:100%;
    border-radius: 5px;
    padding: 25px;
    background: pink
}
.wrapper.header{
    font-size: 30px;
    font-weight: 600;
}

.wrapper.inputField{
    display: grid;
    height: 45px;
    width:100%;
    margin:20px 0;
}
 .inputField.input{
    width: 85%;
    height: 100%;
    border: 1px solid white;
    font-size: 17px;
    padding-left:15px;
    outline: 0cm;
 }

 .inputField.button{
    width: 60px;
    height:100%;
    border: 0cm;
    outline: 0cm;
    color: #bce36c;
    background-attachment: fixed;
    border-radius: 3px;
    margin-left: 5px;
}

.wrapper .todolist li{
    max-height:250px;
    overflow-y: auto;
}

.todolist li{
    list-style: none;
    height: 45px;
    line-height: 45px;
    position: relative;
}

.todolist li span{
    position: absolute;
    right: 0px;
    text-align: center;
    color: red;
     
}
.wrapper.footer{
    display: flex;
    width:100%;
    margin-top: 20px;
    justify-content: space-between;
}

.footer.button{
    border: 0cm;
    outline: 0cm;
    font-size: medium;
    color: white;
    background-attachment: fixed;
    border-radius: 3px;
    margin-left: 5px;
    padding: 6px 10px;

}